<div class="card">
  <img class="card-img-top" [src]="phim.hinhAnh" alt="" />
  <div class="card-body">
    <h4 class="card-title">{{ phim.tenPhim | uppercase }}</h4>
    <p class="card-text">{{ phim.moTa | shortcut: 20 }}</p>
    <p class="card-text">{{ 0.5 | percent }}</p>
    <!-- <div routerLink="/detail/{{ phim.maPhim }}" class="btn btn-success">
      Mua vé
    </div> -->

    <!-- Query params cách 1 -->
    <!-- <div
      routerLink="/detail?maPhim={{ phim.maPhim }}&tenPhim={{ phim.tenPhim }}"
      class="btn btn-success"
    >
      Mua vé
    </div> -->

    <!-- Query params cách 2 -->
    <div
      [routerLink]="['/detail']"
      [queryParams]="{ maPhim: phim.maPhim, tenPhim: phim.tenPhim }"
      class="btn btn-success"
    >
      Mua vé
    </div>
  </div>
</div>
